{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing Page</h1>

    {% testposts %} {% comment %} use inclusion_tag {% endcomment %}

    <p>test: {% totalposts as tp %}</p>
    <p>{{ tp }}</p>

    <p>
        {% posts as p %}
        {% for post in p %}
        <p>{{ post }}</P>
        <p>{{ post.content|snippet }}</p>
        <p>{{ post.content|snippet:20 }}</p>
        {% endfor%}
    </p>

    {% sum 20 30 %}
    {% comment %} {% for category in post.category.all %}
        <h1>{{ category.name }}</h1>
    {% endfor %}
    {{ post.category.all.1 }} {% endcomment %}

</body>
</html>